<a href="https://colab.research.google.com/github/JinaniSooriyaarachchi/SQL/blob/main/SQLite_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
# SQLite is an embedded SQL database engine.

import sqlite3

In [32]:
## Task 1: Create database using SQLite

# Connecting to sqlite
# connection object
connection_ = sqlite3.connect('BOOK.db')

In [33]:
## Cursor class is an instance using which you can invoke methods that execute SQLite statements,
## fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.
# cursor object
cursor_obj = connection_.cursor()

In [34]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS BOOKS")

In [35]:
# Creating table
table = """ create table IF NOT EXISTS BOOK(ID INTEGER PRIMARY KEY NOT NULL, TITLE VARCHAR(30), AUTHOR VARCHAR(30), PAGES INTEGER(4));"""

cursor_obj.execute(table)

print("Table is Ready")

Table is Ready

In [36]:
# Insert values to table

cursor_obj.execute('''insert into BOOK values (1, 'Dune', 'Frank Herbert', 896), (2, 'Doomsday Book', 'Connie Willis', 592), (3, '2001: A Space Odyssey', 'Arthur C. Clarke', 221) ''')

In [38]:
# Fetch data from table

statement = '''SELECT * FROM BOOK'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Dune', 'Frank Herbert', 896)
(2, 'Doomsday Book', 'Connie Willis', 592)
(3, '2001: A Space Odyssey', 'Arthur C. Clarke', 221)

In [40]:
## Fetch few rows from the table

statement = '''SELECT * FROM BOOK'''
cursor_obj.execute(statement)

print("First two entries of the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
  print(row_many)

First two entries of the data
(1, 'Dune', 'Frank Herbert', 896)
(2, 'Doomsday Book', 'Connie Willis', 592)

In [41]:
# Fetch only a selected column from the table
statement = '''SELECT TITLE FROM BOOK'''
cursor_obj.execute(statement)

print("Titles of books")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

Titles of books
('Dune',)
('Doomsday Book',)
('2001: A Space Odyssey',)

In [42]:
# update the table

query_update='''update Book set PAGES='200' where TITLE="2001: A Space Odyssey"'''
cursor_obj.execute(query_update)

In [43]:
statement = '''SELECT * FROM BOOK'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Dune', 'Frank Herbert', 896)
(2, 'Doomsday Book', 'Connie Willis', 592)
(3, '2001: A Space Odyssey', 'Arthur C. Clarke', 200)

In [44]:
## Retrieve data into Pandas

import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from book;", connection_)

#print the dataframe
df

   ID                  TITLE            AUTHOR  PAGES
0   1                   Dune     Frank Herbert    896
1   2          Doomsday Book     Connie Willis    592
2   3  2001: A Space Odyssey  Arthur C. Clarke    200

In [47]:
df.TITLE[2]

'2001: A Space Odyssey'

In [48]:
## Close the connection

connection_.close()